%h1 Irrational Machines

#content
  %div
    %p Irrational Machines is:

  %div
    :markdown
      ### Artiom Fine ###

      * <arfine@ic.sunysb.edu>
      * Interface design, programming, testing

      ### Bevin Shrestha ###

      * <bevin.shrestha@gmail.com>
      * Testing, managing

      ### Kyu Sang Song ###

      * <firefocs@gmail.com>
      * Testing

      ### Xian Lin ###

      * <bennyxianlin@gmail.com>
      * Programming, testing

      ### Yusheng Yang ###

      * <yusyang686@gmail.com>
      * Analysis, testing

      ### Leif Walsh ###

      * <leif.walsh@gmail.com>
      * Analysis, interface design, programming, testing
