%h1#rubrik Rubrik

#content
  %div
    :markdown
      Rubrik is a simple, in-browser interface for creating grading rubrics
      and grading homework and tests against them.

      Some searching reveals that no tools exist specifically for this job,
      so traditionally, generic tools like spreadsheets have been used for
      this purpose, but they don't have the specific focus needed to provide
      useful features or a reasonable interface. Professors and TAs copy
      around templates, accidentally including one student's grades in
      another, provide no workflow management, and are extremely prone to
      "off-by-one-cell" errors.

      Rubrik is built from the ground up to perform this one task
      intelligently, promoting fair and accurate grading (with efficient,
      stress-free workflows built-in to provide for differently-styled
      graders), as well as clear problem statements and requirements to make
      sure students understand the assignment.

      Rubrik makes the physical grading process easier, and makes students
      certain of their performance.

  %h2#concept Concept

  %div
    :markdown
      Before an assignment is given, Rubrik helps the professor create clear
      multi-part problem statements with precise scoring systems. These
      problem statements can be outputted in several formats, such as a
      separate, itemized rubric or inline "possible points" annotations, and
      with an adjustable level of specificity. The source rubric may contain
      extra details not shown to the students, thus requiring some amount of
      creativity.

      At grading time, Rubrik provides the grader with a clear interface,
      prompting her with each task to be asserted in the assignment, to be
      marked as complete or not, with optional partial credit and extra
      annotations, or without input (if the grades are to be marked directly
      on paper). These tasks can be grouped in many ways, displayed
      individually or several at a time, and assignments can be interleaved
      to help maintain grading consistency between students.

      Afterward, Rubrik provides concise output formats for score
      presentation, automatically computes a variety of useful statistics
      (mean, median, variance, min, max), and provides facilities for
      distributing these grades (automatic emailing, blackboard
      integration). It also stores grades securely, updates course-long
      (weighted) grade averages, and allows for curved or non-curved grading
      schemes.


  %h2#features Features

  %div
    :markdown
      * Flexible task specification
      * Soothing UI (prevents inconsistency due to grader stress ;-)
      * Multiple workflows for different personalities
      * Customizable workflows
      * Support for multiple graders, with fine-grained access control
      * Secure grade storage
      * Anonymity tools (to prevent unfair preference)
      * Blackboard/email integration for sending out grades
      * LaTeX integration for printing rubrics or score summaries
      * Web interface for students to monitor their progress
      * Scripted grading hooks for programming assignments
