%h1 Irrational Machines

#content
  %div
    :maruku
      Irrational Machines is building [Rubrik](/rubrik/description/).

  %div
    :maruku
      ### Assignments ###

      1. [Initial description](/rubrik/description/)
      2. [Tasks, dependencies, roles, and schedule](/rubrik/assignments/02/)
      3. [Use cases and domain modelling](http://docs.google.com/View?docid=dr37zb6_11f2vwkk5x)
