#!/usr/bin/env ruby

require 'compass'

Compass.configuration.parse('compass_config.rb')

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '*' do
  filter :haml
  layout 'default'
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
