%header
  %span.right
    - if @current_user
      %strong= @current_user.username
      |
      = link_to "Logout", :controller => :users, :action => :logout
    - else
      = link_to "Login", :controller => :users, :action => :login